[SddmGreeterTheme]
Name=yadot
Description=A clean, minimal SDDM theme matching the yadot Hyprland setup
Author=yaredow
Copyright=(c) 2026 yaredow
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
QtVersion=6
X-SDDM-Theme-InterfaceVersion=2
