* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 0; /* padding handled by left/right containers */
  background-color: #1a1b26;
}

/* apply padding once inside the bar on the left/right containers */
.left, .modules-left {
  padding-left: 6px;
}
.right, .modules-right {
  padding-right: 6px;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #24283b;
  color: #a9b1d6;
}

#workspaces button:hover {
  color: #1a1b26;
  background-color: #a9b1d6;
}

#workspaces button.active {
  background-color: #24283b;
  color: #7aa2f7;
}

#workspaces button.urgent {
  background-color: #24283b;
  color: #f7768e;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #24283b;
}

#mpris.playing {
  color: #9ece6a;
}

#mpris.paused {
  color: #565f89;
}

#custom-sep {
  padding: 0px;
  color: #414868;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #7dcfff;
}

#memory {
  color: #bb9af7;
}

#clock {
  color: #7aa2f7;
}

#clock.simpleclock {
  color: #89b4fa;
}

#window {
  color: #c0caf5;
}

#pulseaudio {
  color: #7aa2f7;
}

#pulseaudio.muted {
  color: #565f89;
}

#custom-logo {
  color: #7aa2f7;
}

#custom-power {
  color: #f7768e;
}

tooltip {
  background-color: #24283b;
  border: 2px solid #7aa2f7;
  color: #c0caf5;
}
