@define-color highlight #75f1fa;
@define-color dark-9 #18181b;
@define-color dark-8 #27272a;
@define-color dark-7 #3f3f46;
@define-color dark-6 #52525b;
@define-color dark-5 #71717a;

* {
  border: none;
  border-radius: 0;
  /* Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200 */
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 12.5px;
  min-height: 0;
}

window#waybar {
  background-color: @dark-9;
  color: white;
}

tooltip {
  background: @dark-9;
  border-radius: 5px;
}
tooltip label {
  color: white;
}

#workspaces button {
  padding: 2px;
  margin: 5px 0px 5px 7px;
  background: transparent;
  border-radius: 2px;
  color: white;
}

#workspaces button.urgent {
  background: rgba(227, 81, 73, 1);
}

#workspaces button.active {
  background: @highlight;
  color: #000000;
  font-weight: 700;
}

.modules-right {
  padding: 0px 10px;
}

#submap,
#bluetooth,
#memory,
#network,
#cpu,
#volume,
#battery {
  border-radius: 8px;
  padding: 4px 8px;
  background: @dark-8;
}

#submap,
#bluetooth,
#memory,
#network,
#cpu,
#volume,
#battery {
  margin: 3px 10px 3px 0px;
}

#media {
  color: #42ff9f;
  margin: 3px 0px 3px 80px;
}

#custom-media-status {
  font-size: 12.5px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: @dark-5;
  font-size: 12.5px;
}

#submap {
  background: #e84d4d;
  color: #000000;
}

#clock {
  /* background-color: #64727d; */
}

#pulseaudio {
  margin-right: 8px;
}

#pulseaudio-slider {
  padding: 0;
  margin: 0;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 5px;
  background: @dark-7;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @highlight;
}
